@page "{ProductID}"
@model ChemTrack.EditProductModel



@foreach (var item in Model.Prod){
<h1>Amend details for @item.ProductName</h1>
<br/>


           <form method="post">

                    <div class="form-group row py-sm-2">
                        <label for="ProductID" class="col-sm-3 col-form-label">Product ID </label>
                        <div class="col-sm-4">
                        <input type="text" class="form-control" id="ProductID" aria-describedby="IDHelp" name="ProductID" value=@item.ProductID readonly>
                        </div>
                    </div>

                    <div class="form-group row py-sm-2">
                        <label for="ProductName" class="col-sm-3 col-form-label">Product Name</label>
                        <div class="col-sm-4">
                        <input type="text" class="form-control" id="ProductName" aria-describedby="NameHelp" name="ProductName" value="@item.ProductName" readonly>
                        <small id="displayName" class="form-text text-muted"></small>
                        </div>
                    </div>

                    <div class="form-group row py-sm-2">
                        <label for="SG" class="col-sm-3 col-form-label">Specific Gravity</label>
                        <div class="col-sm-4">
                        <input type="text" class="form-control" id="SG" aria-describedby="SGHelp" name="SG" value="@item.SG">
                        <small id="displaySG" class="form-text text-muted"></small>
                        </div>
                    </div>

                    <div class="form-group row py-sm-2">
                        <label for="UN_Number" class="col-sm-3 col-form-label">UN Number</label>
                        <div class="col-sm-4">
                <input type="text" class="form-control" id="UN_Number" aria-describedby="UNHelp" name="UN_Number" value=@item.UN_Number>
                        <small id="displayUN" class="form-text text-muted">Leave blank if Non-Haz</small>
                        </div>
                    </div>
                    
                    <div class="form-group row py-sm-2">
                        <label for="Class" class="col-sm-3 col-form-label">Classification</label>
                        <div class="col-sm-4">
                <select type="text" class="form-control" id="Classification" aria-describedby="ClassHelp" name="Classification">
                        <option selected>@item.Classification</option>
                        <option>Flammable</option>
                        <option>Corrosive</option>
                        <option>Toxic</option>
                        <option>Miscellaneous</option>
                        <option>Non-Haz</option>
                        <small id="displayClass" class="form-text text-muted"></small>
                        </select>
                        </div>
                    </div>
                    <div class="form-group row py-sm-2">
                    <label for="Price" class="col-sm-3 col-form-label">Price Per Litre (£)</label>
                    <div class="col-sm-4">
                    <input type="text" class="form-control" id="Price" aria-describedby="Price" name="Price" value="@item.Price">
                    <small id="displayPrice" class="form-text text-muted"></small>
                    </div>

        </div>
               <div class="form-group row py-sm-2">
                       <label for="Haz" class="col-sm-3 col-form-label">Marine Pollutant</label>

                       <div class="col-sm-4">
                         <div class="form-check form-check-inline">

                          @if (item.MarinePollutant.ToLower().Contains("yes"))
                           {
                           <input class="form-check-input" type="radio" id="MarinePollutant" name="MarinePollutant"value="Yes" checked>
                           <label class="form-check-label" for="inlineRadio1">Yes</label>
                        
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="MarinePollutant" name="MarinePollutant" value="No">
                            <label class="form-check-label" for="inlineRadio2">No</label>
                        </div>

                    }
                    else
                    {
                        <input class="form-check-input" type="radio" id="radio1" name="MarinePollutant" value="Yes">
                           <label class="form-check-label" for="inlineRadio1">Yes</label>
                        
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="radio2" name="MarinePollutant" value="No" checked>
                            <label class="form-check-label" for="inlineRadio2">No</label>
                        </div>
                        
                    }
                         </div>
                       </div>
               </div>

                   
                <br/>

        
        <div class="col-sm-4">

            <button type="submit" formmethod="post" class="btn btn-warning" asp-page-handler="UndoButton">Undo Changes</button>
             <button type="submit" formmethod="post" class="btn btn-success" asp-page-handler="SubmitButton">Submit Changes</button>
            <button type="submit" formmethod="post" class="btn btn-danger" asp-page-handler="DeleteButton">Delete Record</button>
            </div>
        <br/>

        </form>
        <a href="/ProductManagement" class="btn btn-primary">Return to Product Maintenance</a>


        
   
}



