@page
@model ChemTrack.Pages.FleetManagementModel
@{
   
    ViewData["Title"] = "Fleet Management";

}
<h1>@ViewData["Title"]</h1>
<br />

<div class="Container">
    <div class="row">
        <div class="col-md-8">
    <table class="table table-sm table-hover table-bordered table-light">

    <thead class="thead-light">
        <tr>
            <th scope="col">Tank ID</th>
            <th scope="col">Capacity</th>
            <th scope="col">Dimensions</th>
            <th scope="col">Tare Weight (KG)</th>
            <th scope="col">Max Gross Weight (KG)</th>
            <th scope="col">On Hire</th>
            <th scope="col">Edit Tank</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tank in Model.HLMTanks)
        {
           string onHire = OnhireCheck.Check(tank);

            <tr class="table-light">
                <th scope="row">@tank.TankID</th>
                <td>@tank.Capacity</td>
                <td>@tank.Dimensions</td>
                <td>@tank.TareWeight</td>
                <td>@tank.MaxGrossWeight</td>
                <td>@onHire</td>
                <td><a href="/Forms/EditTank/@tank.TankID" class="btn btn-warning">Edit</a></td>
                </tr>
        }
    </tbody>
    </table>
            <a href="/Forms/AddProduct" class="btn btn-primary">Add A New HLM Tank</a>
            <br />
            <br />
    </div>
    
    <div class="col-md-8">
                <table class="table table-sm table-hover table-bordered table-light">
                <thead>
                    <tr>
                        <th scope="col">Tank ID</th>
                        <th scope="col">Capacity</th>
                        <th scope="col">Dimensions</th>
                        <th scope="col">Tare Weight (KG)</th>
                        <th scope="col">Max Gross Weight (KG)</th>
                        <th scope="col">On Hire</th>
                        <th scope="col">Edit Tank</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tank in Model.KLMTanks)
                    {
                        string onHire = OnhireCheck.Check(tank);

                        <tr class="table-light">
                            <th scope="row">@tank.TankID</th>
                            <td>@tank.Capacity</td>
                            <td>@tank.Dimensions</td>
                            <td>@tank.TareWeight</td>
                            <td>@tank.MaxGrossWeight</td>
                            <td>@onHire</td>
                            <td><a href="/Forms/EditTank/@tank.TankID" class="btn btn-warning">Edit</a></td>
                        </tr>
                    }
                </tbody>
                </table>
            <a href="/Forms/AddProduct" class="btn btn-primary">Add A New KLM Tank</a>
            <br />
            <br />
    </div>
        <div class="col-md-8">
            <table class="table table-sm table-hover table-bordered table-light">
                <thead>
                    <tr>
                        <th scope="col">Tank ID</th>
                        <th scope="col">Capacity</th>
                        <th scope="col">Dimensions</th>
                        <th scope="col">Tare Weight (KG)</th>
                        <th scope="col">Max Gross Weight (KG)</th>
                        <th scope="col">On Hire</th>
                        <th scope="col">Edit Tank</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tank in Model.MHVTanks)
                    {
                        string onHire = OnhireCheck.Check(tank);

                        <tr class="table-light">
                            <th scope="row">@tank.TankID</th>
                            <td>@tank.Capacity</td>
                            <td>@tank.Dimensions</td>
                            <td>@tank.TareWeight</td>
                            <td>@tank.MaxGrossWeight</td>
                            <td>@onHire</td>
                            <td><a href="/Forms/EditTank/@tank.TankID" class="btn btn-warning">Edit</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="/Forms/AddProduct" class="btn btn-primary">Add A New MHV Tank</a>
            <br />
            <br />
        </div>
        

        <div class="col-md-8">
            <table class="table table-sm table-hover table-bordered table-light">
                <thead>
                    <tr>
                        <th scope="col">Tank ID</th>
                        <th scope="col">Capacity</th>
                        <th scope="col">Dimensions</th>
                        <th scope="col">Tare Weight (KG)</th>
                        <th scope="col">Max Gross Weight (KG)</th>
                        <th scope="col">On Hire</th>
                        <th scope="col">Edit Tank</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tank in Model.PBTTanks)
                    {
                        string onHire = OnhireCheck.Check(tank);

                        <tr class="table-light">
                            <th scope="row">@tank.TankID</th>
                            <td>@tank.Capacity</td>
                            <td>@tank.Dimensions</td>
                            <td>@tank.TareWeight</td>
                            <td>@tank.MaxGrossWeight</td>
                            <td>@onHire</td>
                            <td><a href="/Forms/EditTank/@tank.TankID" class="btn btn-warning">Edit</a></td>
                        </tr>
                    }
                </tbody>

            </table>
            <a href="/Forms/AddProduct" class="btn btn-primary">Add A New PBT Tank</a>
            <br />
            <br />
        </div>
    </div>
</div>


 <br/>
 <br/>